snapshots/
venv/
.env
.DS_Store
.idea/
.vscode/
.pytest_cache/
.ruff_cache/
.ruff_cache/
runs/
BENCHMARK_SYSTEM.md
CHANGES_SUMMARY.md
EXECUTION_PLAN.md
.github/
cua-website-sim/client_secret_141965070429-ohl73qg1epfpb2me8i600e732he2kls9.apps.googleusercontent.com.json
webarena/webarena-key.pem
age

results
nohup*.out